body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('voted.webp'); /* Use the uploaded image */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: 'Futura', sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #C83E4D;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 0px #F4B860;
}

.confetti-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}

.thanks-container {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  opacity: 0.8;
  animation: fall 5s infinite ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a slight shadow for depth */
}



@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.3;
  }
}

.confetti-type-0 { background-color: #f94144; }
.confetti-type-1 { background-color: #f3722c; }
.confetti-type-2 { background-color: #f8961e; }
.confetti-type-3 {
  background-color: transparent;
  background-image: url('voted-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.confetti-type-4 {
  background-color: transparent;
  background-image: url('voted-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Confetti Colors from the Image */
.confetti:nth-child(odd) {
  background-color: #F4B860; /* Yellow */
}

.confetti:nth-child(even) {
  background-color: #4682b4; /* Blue */
}

.confetti:nth-child(3n) {
  background-color: #C83E4D; /* Brown */
}

.confetti:nth-child(6n) {
  background-color: #fffafa; /* White */
}

.confetti:nth-child(5n) {
  background-color: #000; 
}

.confetti:nth-child(3n) {
  background-color: transparent;
  background-image: url('voted-1.png'); /* PNG "I Voted" sticker */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.confetti:nth-child(4n) {
  background-color: transparent;
  background-image: url('voted-2.png'); /* PNG "I Voted" sticker */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

